*
{
    margin:0px;
    padding:0px;
}
.container1
{
    flex-shrink:1;
    display:flex;
    border:2px solid blue;
    justify-content:center;
    align-items: start;
    height:500px;
    column-gap: 1rem;;
}
.container1>.box
{
    background-color: pink;
    flex-shrink:1;
    width:50px;
    height:50px;
}
#box1
{
    flex-grow:1;
    align-self:center;
}
