*
{
    padding:0px;
    margin:0px;
}
body{
    display:grid;
    grid-template-rows:10% 90%;
}
header
{
    background-color: black;
    color:white;
    display:flex;
}
header > #navigationBar
{
    display:flex;
}
main
{
    display:grid;
    grid-template-columns:20% 80%;  
    height:90vh;
}
#leftSide,#rightSide
{
    background-color: rgb(133, 127, 127);
    border:1px solid white ;
    height:100%;
}
